{% extends "layout.html" %}

{% block content %}

<div class="container">
	<div class="row">
		
		<h2>About</h2>
<div class="row">
		<div class="six columns">
		<p><b>Project:Behave</b> is the brainchild of a body piercer & tattoo apprentice armed with the research prepared by a panel of health protection and practitioner representatives.</p>
			<p>It comprises a consensus of expert advice which it is intended will provide an authoritative source of information.</p> 
			<p>The purpose is to support local authority and other regulatory officers in determining their requirements for effective control of risk in these activities and to promote a consistent approach as well as educate the public on best practice.</p>
		</div>
		<div class="six columns">
			
			<p>Similarly, it is intended to be of assistance to practitioners and businesses undertaking these activities to support them in adopting acceptable standards of practice.</p>
			<p>The use of this will help to ensure the health and safety of both clients and operators and that tattooing and skin piercing practitioners will be operating in compliance with legal requirements.
		</p>
	</div>
	</div>
</div>
<div class="container">
<!-- FULL WIDTH (not just for buttons) -->
<button class="u-full-width button primary"> Win a year of free body piercings for you and 3 of your friends!</button>
</div>
<!-- FLOATING -->
<!-- <h2 class= "u-pull-left">Left</h2>
<h2 class= "u-pull-right">Right</h2>
<div class= "u-cf"></div> <!-- This line clears all floating for below --> 

<!-- FORMS -->
<div class="container">
<form >
  
  <div >
    <label>Your Name</label>
    <input class="u-full-width" type ="text" placeholder="Enter name">
  </div>
  <div>
    <label class="">
      
    </label>
  </div>
      <label>Your Email</label>
    <input class="u-full-width" type ="text" placeholder="Enter Email Address">
  <div>
    <label>Your Consentual Age</label>
    <select class="u-full-width" >
      <option value="3">I am under 16</option>
      <option value="2">I am aged 16-18+</option>
      <option value="3">I am aged 18+</option>
    </select>
  </div>
  <div>
    <label>Your Area</label>
    <select class="u-full-width" >
      <option value="3">Anfield Plains</option>
      <option value="2">Bishop Auckland</option>
      <option value="3">Consett</option>
    </select>
  </div>
  
  <div>
    <label>Message</label>
    <textarea class="u-full-width" placeholder="Enter message"></textarea>
  </div>
  
  <div>
    <label class="">
        <input type="checkbox" name="">
        <span class="labe-body" >Subscribe to email</span>
    </label>
  </div>
  
  <input class="u-pull-right" type="submit" value="Submit">
</form> 
</div>

<!-- TABLES -->
<div class ="container">
<table>
  <thead>
    <tr>
      <th>Premise Trading Name</th>
      <th>Registered Practice(s)</th>
      <th>Project Behave Ref No:</th>
      
      <th>Date Registered</th>
      <th>Location</th>
      <th>Premise Address</th>
    </tr>

  </thead>

  <tbody>
   


   <tr>
      <td>Superdrug</td>
      <td>Cosmetic Piercing Only</td>
      <td>67432</td>
      <td>31/05/2018</td>
      <td>Bishop Auckland</td>
      <td>Unit 5 Bishop Auckland Shopping Park, St Helen Auckland, Bishop Auckland, DL14 9FA</td>
    </tr>

<tr>
      <td>Black Moon</td>
      <td>Cosmetic Piercing Only</td>
      <td>57780</td>
      <td>11/11/2019</td>
      <td>Consett</td>
      <td>73 Medomsley Road, Consett, DH8 5HJ</td>
    </tr>

<tr>
      <td>Dare U Body Piercing, Hair and Beauty</td>
      <td>Cosmetic Piercing Only</td>
      <td>17394</td>
      <td>25/11/2011</td>
      <td>Durham City</td>
      <td>Indoor Market Stall 76, Market Place, Durham City, DH1 3NJ</td>
    </tr>

    <tr>
      <td>Claire's Accessories</td>
      <td>Cosmetic Piercing Only</td>
      <td>19790</td>
      <td>29/02/2012</td>
      <td>Murton</td>
      <td>The North East Outlet Centre,
62 Dalton Park, Murton, Seaham, SR7 9HU</td>
    </tr>

    
<tr>
      <td>Superdrug</td>
      <td>Cosmetic Piercing Only</td>
      <td>67605</td>
      <td>31/05/2018</td>
      <td>Pity Me</td>
      <td>Unit G Arnison Retail Centre, Pity Me, Durham, DH1 5GB</td>
    </tr>

      
  </tbody>
</table>
</div>


</div>

</div>
{% endblock %}