{% extends "layout.html" %}

{% block content %}

<div class="container">
	<div class="row">
		
		<h2>About</h2>
<div class="row">
		<div class="six columns">
		<p><b>Project:Behave</b> is the brainchild of a body piercer & tattoo apprentice armed with the research prepared by a panel of health protection and practitioner representatives.</p>
			<p>It comprises a consensus of expert advice which it is intended will provide an authoritative source of information.</p> 
			<p>The purpose is to support local authority and other regulatory officers in determining their requirements for effective control of risk in these activities and to promote a consistent approach as well as educate the public on best practice.</p>
		</div>
		<div class="six columns">
			
			<p>Similarly, it is intended to be of assistance to practitioners and businesses undertaking these activities to support them in adopting acceptable standards of practice.</p>
			<p>The use of this will help to ensure the health and safety of both clients and operators and that tattooing and skin piercing practitioners will be operating in compliance with legal requirements.
		</p>
	</div>
	</div>
</div>

</div>
{% endblock %}