{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
	<a href= "" class= " button button-primary ">Ear & Face Piercings</a>
	<a href= "{{url_for('oral')}}" class= "button">Oral Piercings</a>
	<a href= "" class= "button">Body & Surface Piercings</a>
	<a href= "" class= "button">Genital Piercings</a>
	<a href= "" class= " button ">Microdermal Implants</a>
	<a href= "" class= "button">Tattoos</a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>

	<div class="row">


	<h4>Key Advice</h4>
<p>The aftercare of body piercing is important to promote good healing and prevent the risk of infection.
Healing times for piercing will vary with the type and position of the piercing and vary from person to person.
For the first few weeks it is normal for the area to be red, tender and swollen.
Approximate healing times for the various piercings are:
Ear lobe piercing – 6 to 8 weeks Ear cartilage piercing – 6 to 8 weeks Cheek piercing – 2 to 3 months Eyebrow piercing – 2 to 4 months Nose piercing – up to 6 months
Remember these times are approximate and will depend on how healthy you are and whether you look after the piercing properly until healed.
As with all body art, infection is a risk. To reduce these risks take advice from your practitioner regarding aftercare.
The risk of infection can be greatly reduced by good general hygiene including:
• Hand washing before touching the piercing.
• Keeping the piercing clean.

</p>

		<h5 class="u-pull-right">Ear piercing(s)</h5>
		<div class="u-cf"></div>

<h6 class="u-pull-right">Including Lobes/ Tragus/ Anti Tragus/ Conch/ Helix/ Snug/ Diath/ Industrial/ Rook/ Translobal/ Transverse Lobe.</h6>
<div class="u-cf"></div>

<h5 class="u-pull-right">Facial piercing(s)</h5>
<div class="u-cf"></div>
<h6 class="u-pull-right">Including Eyebrow, Bridge, Jestum, Vertical Labret, Septum/ Nostril.</h6>
<div class="u-cf"></div>

<p>Soak the piercing for a few minutes by submerging the area of skin containing the piercing in a clean jug or bowl containing
a warm water solution (1/4 level teaspoon of preferably sea salt to an egg cup/shot glass of warm water). Alternatively wet a clean cloth or gauze in the solution and apply as a warm compress. This will soften any discharge and allow you to clean the entry and exit points of the piercing with
a cotton bud or gauze. Once the discharge is removed or softened then jewellery can be gently moved so as to work a little warm water through the piercing. When cleaning always tighten the ball on any bars by screwing the ball to the right.
Do this twice each day, preferably after washing or bathing.
You can also use mild antibacterial solutions and soaps to wash the wound site of an ear piercing. Ask your local pharmacist to advise you and always follow the manufacturers’ instructions. If irritation, redness or drying occurs discontinue use. Antibacterial wash is NOT suitable for nostrils, septum or vertical lips due to the tissue’s delicate nature.
Dry the piercing using ONLY fresh disposable paper towel/kitchen roll. A communal hand/bath towel should never be used.</p>
<p>
	Note: Cartilage piercings occasionally form lumps commonly known as granulomas. This is just trapped fluid and can easily be resolved using the heat and pressure from a warm water compress once a day, replacing one of your daily cleanings.
Expect some swelling and soreness from your new piercing. Any knock or bang can cause swelling or soreness to flare up again throughout the healing phase.
Do not use cotton wool to clean the piercing as the fibres in the cotton wool may get caught in the piercing.
Do not pick at any discharge and do
not move, twist or turn the piercing whilst dry. If any secreted discharge has hardened then turning jewellery may cause the discharge to tear the piercing, allowing bacteria to enter the wound and prolonging the healing time.
Do not use sunbeds for the first two weeks, or if you decide to then cover the wound area with a breathable plaster during tanning.
Do not swim for the first 24 hours following a piercing.
Signs of infection
If appropriate aftercare is not followed infection may occur. The signs of infection are:
• Swelling and redness that increases around the wound.
• A severe burning and throbbing sensation round the site.
• Increased tenderness and increasingly painful to touch.
• An unusual discharge (yellow or green) with an offensive smell.
Speak to your practitioner or seek medical attention immediately if you suffer from any of the above or have any concerns regarding infection in your piercing or if there are any signs of an allergic reaction to any of the products used.


</p>

	</div>

</div>


{% endblock %}