{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
	<a href= "" class= " button ">Ear Piercings</a>
	<a href= "" class= "button">Oral Piercings</a>
	<a href= "" class= " button ">Nose Piercings</a>
	<a href= "" class= "button">Body Piercings</a>
	<a href= "" class= " button ">Ear Piercings</a>
	<a href= "" class= "button">Genital Piercings</a>
	<a href= "" class= " button ">Ear Piercings</a>
	<a href= "" class= "button">Tattoos</a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>
</div>


{% endblock %}