{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
		<a href= "{{url_for('generalinfo')}}" class= " button ">General</a>
<a href= "{{url_for('legal')}}" class= " button button-primary">Legal</a>
	<a href= "{{url_for('jewellery')}}" class= "button">Body Piercing Jewellery </a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>
<div class="row">
		<a href= "{{url_for('controls')}}" class= " button button-primary ">Controls</a>
<a href= "{{url_for('outsidelondon')}}" class= " button">Outside London</a>
	<a href= "{{url_for('insidelondon')}}" class= "button">Inside London </a>
	<a href= "{{url_for('consent')}}" class= "button">Consent </a>
	<a href= "{{url_for('healthandsafety')}}" class= "button">Health and Safety</a>
	<a href= "{{url_for('anaesthetic')}}" class= "button">Anaesthetic </a>
</div>

<div class="row">
	<h4>General Controls</h4>
<p>The primary health and safety legislation applies across the whole of England & Wales and is available for use by all local authorities without the need for adoption. It can be used to impose and enforce infection control requirements in relation to all skin piercing activities, including peripatetic practitioners who visit a client’s home. It allows for immediate prohibition of persons or premises that pose an imminent risk to health or safety. The use of health and safety legislation is governed by substantial amounts of regulatory guidance and approved codes of practice. However, none of this relates specifically to skin piercing and therefore, regulatory officers need to use their skills of risk assessment within an infection control setting.</p>

<p>There is also public health legislation which provides local authorities with health protection powers to impose restrictions or requirements to protect public health where voluntary cooperation to avert a health risk cannot be secured and where other methods of control are ineffective, unsuitable or disproportionate to the risk involved. Although these powers are very extensive, there are stringent criteria for their use and safeguards for people who might be affected by them.</p>


<h4>Specific Controls</h4>
<p>Arrangements for licensing and registration will differ depending on the particular requirements of the local authority in whose area the business is located or the activity is being carried out.</p>

<h5>Outside London</h5>
<p> Generally, outside London there are provisions to register both the premises (which can include a practitioner’s home) and the practitioners themselves. The local authority will also have powers to enact bylaws to regulate particular activities. However, as these are adoptive powers, there may be some local authorities which do not have such registration procedures in place and are relying on the general legislation to control these activities.

<h5>In London</h5>
Some local authorities in London operate a registration system similar to that outside London. However, in most of London, and certain other Councils in England, there are specific local powers with a system for licensing premises where skin piercing or other so-called ‘special treatments’ are provided which includes tattooing.
Registration can be applied to a practitioner’s home where regulated activities take place. The registration is for fixed premises, however, the law allows local authorities to adopt a condition of registration that permits the registered practitioner to work away from their fixed premises, although many do not permit this.</p>

<br>
<br>

<h4>Public Health Controls</h4>
In March 2010 a set of new health protection regulations were made under the amended Public Health (Control of Disease) Act 1984 to continue the process of modernising health protection legislation in England. 
<br>The regulations, the Health Protection [Part 2A Orders] Regulations 2010, provide updated local authority powers to protect public health where voluntary cooperation to avert a health risk cannot be secured and where other methods of control are ineffective, unsuitable or disproportionate to the risk involved.
Powers that impose restrictions or requirements are conditional on strict criteria being met. Before making use of these powers, the local authority or Justice of the Peace must be satisfied that the criteria relating to a particular threat to health are met. The criteria cover evidence of infection or contamination, assessment of the potential for significant harm to human health, risk of spread to others and necessity for action to be taken in order to reduce or remove that risk. The legislation also contains safeguards for people who might be subject to the legal measures.<br>
The measures are contained in the Public Health (Control of Disease) Act 1984 (as amended) together with the Health Protection (Local Authority Powers) Regulations 2010 and the associated provisions.
<br>
<br>

</div>


{% endblock %}