{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
		<a href= "{{url_for('generalinfo')}}" class= " button button-primary ">General</a>
	<a href= "{{url_for('legal')}}" class= " button ">Legal</a>
	<a href= "{{url_for('jewellery')}}" class= "button">Body Piercing Jewellery </a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>

<div class="row">
	<h4>General Information</h4>
<p>Tattooing and body piercing procedures have become more popular and fashionable in the United Kingdom (UK) as a whole, particularly in the last decade. The range of tattooing and body piercing procedures has also increased. There are no published data on the prevalence of tattoos in the general UK population. 
	<br><br>There are also no comprehensive data for the UK on the prevalence of body piercing, but a small study has estimated that the prevalence of body piercing, other than of earlobes, in the general adult population in England was 10% (Bone A et al, 2008).
<br><br>There are known and well reported health risks which can be attributed to these procedures, as well as associated legal issues. 
<br>Improper and unhygienic practice may result in localised skin infections at the site of the tattoo or piercing. There is also the risk of transmission of blood-borne viruses, for example Hepatitis B, Hepatitis C, Hepatitis D or HIV, which can have more serious and long term health consequences. 
	<br><br>It is therefore important that practitioners have safe working practices,
and particularly that good infection control practices are followed at all times, so that both clients and practitioners are protected.
<br>Over the years a variety of legislation has been introduced, mainly for local adoption, to encourage and support safe practice. Model bylaws have been made available,but have not been accompanied by standard requirements for compliance.
<br><br> As a response to on-going concerns, a number of sets of local/regional guidelines have been developed by different agencies, often initiated by environmental health or health protection specialists (this guidance toolkit draws upon some of the previously published material).
<br> However, there have been difficulties previously in engaging practitioners in the development of such guidelines and in securing adoption and wider implementation.
<br><br>It is also recognised that there are no nationally recognised or accredited training courses, standards for practice, agreed knowledge and skills frameworks or arrangements for monitoring and reporting of professional competence.
<br>The absence of accredited training and competencies for tattooing and body piercing is an area that needs to be addressed nationally and is outside the scope of this guidance. 
<br><br>The working group has, however, been greatly assisted in the preparation of this guidance by the Tattoo and Piercing Industry Union who are recognised as a professional body for tattoo and body piercing practitioners in the UK.</p>


</div>

</div>




{% endblock %}