{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
	<a href= "{{url_for('advice')}}" class= "button">Ear & Face Piercings</a>
	<a href= "{{url_for('oral')}}" class= "button button-primary ">Oral Piercings</a>
	<a href= "{{url_for('body')}}" class= "button">Body & Surface Piercings</a>
	<a href= "{{url_for('genital')}}" class= "button button-primary">Genital Piercings</a>
	<a href= "{{url_for('dermal')}}" class= " button ">Microdermal Implants</a>
	<a href= "{{url_for('tattoo')}}" class= "button ">Tattoos</a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>

	<div class="row">
Key Advice
The aftercare of body piercing is important to promote good healing and prevent the risk of infection.
Healing times for piercing will vary with the type and position of the piercing and vary from person to person.
For the first few weeks it is normal for the area to be red, tender and swollen.
The healing time for a genital piercing can be from 2 to12 weeks.
Remember these times are approximate and will depend on how healthy you are and whether you look after the piercing properly until healed.
As with all body art, infection is a risk. To reduce these risks take advice from your practitioner regarding aftercare.
The risk of infection can be greatly reduced by good general hygiene including:
• Hand washing before touching the piercing
• Keeping the piercing clean.


Female Genital piercing aftercare
including Clitoral Hood, Inner and Outer Labia, Fourchette, Christina and Triangle.

Male Genital piercing aftercare
including glans penis piercing such as PA, Reverse PA, Apadravya, Ampallang, Dydoe and Frenum, as well as for other piercings including Hafada, Scrotum, Foreskin and Guiche.

Soak the piercing for a few minutes by submerging the area of skin containing the piercing in a clean container, such as a bowl containing a warm water solution (1/4 level teaspoon of preferably sea salt to an egg cup/shot glass of warm water). Alternatively wet a clean cloth or gauze in the solution and apply as a warm compress. This will soften any discharge and allow you to clean the entry and exit points of the piercing with a cotton bud or gauze. Once the discharge is removed or softened then jewellery can be gently moved so as to work a little warm water through the piercing. When cleaning always tighten the ball on any bars by screwing the ball to the right.
Do this twice each day, preferably after washing or bathing.
Dry the piercing using ONLY fresh disposable paper towel/kitchen roll. A communal hand/bath towel should never be used.
Do not use antibacterial products as they can kill the good bacteria that are naturally present.

Do not swim for the first 24 hours following a piercing.
Do not pick at any discharge and do
not move, twist or turn the piercing whilst dry. If any secreted discharge has hardened then turning jewellery may cause the discharge to tear the piercing, allowing bacteria to enter the wound and prolonging the healing time.
Refrain from any type of sexual activity until the piercing has healed or is ‘dry’.
Always use barrier protection such as condoms, otherwise you are at increased risk of acquiring a sexually transmitted infection.
Signs of infection
If appropriate aftercare is not followed infection may occur. The signs of infection are:
• Swelling and redness that increases around the wound.
• A severe burning and throbbing sensation round the site.
• Increased tenderness and increasingly painful to touch.
• An unusual discharge (yellow or green) with an offensive smell.
Speak to your practitioner or seek medical attention immediately if you suffer from any of the above or have any concerns regarding infection in your piercing or if there are any signs of an allergic reaction to any of the products used.


	</div>

</div>
{% endblock %}