{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
		<a href= "{{url_for('generalinfo')}}" class= " button ">General</a>
<a href= "{{url_for('legal')}}" class= " button button-primary">Legal</a>
	<a href= "{{url_for('jewellery')}}" class= "button">Body Piercing Jewellery </a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>
<div class="row">
		<a href= "{{url_for('controls')}}" class= " button ">Controls</a>
<a href= "{{url_for('outsidelondon')}}" class= " button ">Outside London</a>
	<a href= "{{url_for('insidelondon')}}" class= "button">Inside London </a>
	<a href= "{{url_for('consent')}}" class= "button">Consent </a>
	<a href= "{{url_for('healthandsafety')}}" class= "button button-primary">Health and Safety</a>
	<a href= "{{url_for('anaesthetic')}}" class= "button">Anaesthetic </a>
</div>

<div class="row">
	<h4>Health & Safety at Work etc Act</h4>
The Health & Safety at Work etc. Act 1974 (HASWA74) applies across the whole of England & Wales and to all persons engaged in tattooing and skin piercing activities for gain or reward.
<br> This includes peripatetic workers who carry out treatments in the client’s home, although only the Health & Safety Executive have powers in relation to peripatetic workers.
It provides means of securing effective infection control and the following areas are particularly applicable.
<br>
<br>
<h5>General duties</h5>
Under Section 2 of the Act, all employers have a general duty of care to ensure the health, safety and welfare of their employees. Under Section 3, both employers and self-employed
persons have a general duty of care to ensure their activities do not expose them or the general public to risks to their health or safety.
Within the framework of its overall strategy the HSE has developed individual sector strategies, with stakeholder involvement. Each sector strategy sets out a series of aims grouped under the goals of the HSE Strategy which, if met, will address ‘what’ needs to be done for each sector to improve its health and safety performance.

<h5>Risk assessment</h5>
A risk assessment is the key step in protecting workers and the public, as well as complying with the law. The risk assessment is a careful examination of what work activities could cause harm to people and this then guides decisions about precautions that need to
be taken, including infection prevention and control measures.
The HSE provides detailed advice on carrying out risk assessments http://www.hse.gov.uk/ risk/risk-assessment.htm including interactive tools http://www.hse.gov.uk/risk/shop.htm
The Management of Health and Safety at Work Regulations 1999 requires all employers and self employed persons to:
• Undertake a risk assessment of their activities;
• Remove, where possible, that risk or;
• Where residual risk is unavoidable, to provide control measures to reduce it as
far as possible, including as a last resort, provision of personal protective equipment;
• Provide training to staff and persons they use to undertake their business activities (contractors) to ensure they understand the risks and the control measures.
One of the risks that must be considered here is that of possible complications relating to the procedure of skin piercing (for example: migration, scarring, teeth damage with oral piercing). Also, to be considered here will be contra-indications for tattooing, cosmetic piercing and other activities, some for
obvious reasons, others not so obvious. The practitioner therefore has to make sure that a fully ‘informed consent’ procedure is adopted. This means gathering information from the client about their health and suitability for
the treatment, and giving the client enough information about the possible complications that could arise from the treatment for them to make their own decision.
<br>
<br>

<h5>Control of substances hazardous to health</h5>
The Control of Substances Hazardous to Health Regulations 2002 requires that a specific risk assessment is carried out by employers or self employed persons who
work with substances hazardous to health. Substances which are hazardous to health include biological agents. The hazards in this context are the organisms which can cause communicable diseases could be transmitted from person to person by unhygienic practices.
<br>Therefore a specific risk assessment in respect of infection control is necessary for all persons undertaking tattooing and skin piercing activities.
Businesses employing less than 5 people do not have to record the findings of this risk assessment, however they still have to satisfy regulatory officers that their risk assessment is suitable and sufficient.
The courts may accept that where a practitioner can demonstrate that they are operating in accordance with these National Guidelines, then their assessment is sufficient.

<br>
<br>

<h5>Management of contractors</h5>
The Management of Health and Safety at Work Regulations 1999 (Sections 10, 12 & 13) contains legal provisions which can be of particular importance to the many tattooists and cosmetic piercers who do not own the premises which they operate from and are not employed by the person who owns and/
or manages the premises where they work. 
<br>In these cases, they are usually self-employed and have some form of contract, formal or informal, with the owner of the shop premises whereby they pay the owner to allow them to work there. In these circumstances the shop owner can be said to be contracting out to the practitioner and in effect ‘endorsing’ their work’.
<br>These tattooists and piercers are therefore contractors undertaking the activities of the business owner for them. This means
that the premises owners cannot abdicate their own general duties under HASWA 74
to the individual practitioners.
<br> They have a duty to ensure that persons working on their premises are competent and that they carry out their work in a safe manner. The only way they can do this satisfactorily is to assess the practitioners for themselves and monitor their activities to ensure they have carried out their own risk assessment, as they are required to do by law, and that they are following control measures they have identified. 
<br> The business owner has the ultimate power to remove the risk, by stopping particular contractors working at their premises.
<br>
<br>

<h5>Enforcement</h5>
The requirements of HASWA74 are enforceable through improvement and prohibition notices. Improvement notices give a time limit for compliance with requirements. Prohibition notices can have the effect of immediately stopping the operations of a business or the activities of a person where imminent risk
is apparent. All offences under HASWA74 are punishable by unlimited fines and prison sentences, so they provide a substantial inducement for business to comply with requirements.
<br>
<br>



</div>

{% endblock %}