{% extends "layout.html" %}

{% block content %}
  <div class="container">
  	<div class="row">
  <!-- BUTTONS -->
<a href= "{{ url_for('about')}}" class= "button">Learn More</a>
<!-- PRIMARY BUTTONS -->
<button class= "button-primary">Sign Up</button>
</div>
</div>

<div class ="container">
 <div class ="row">

 	<div class = "half column">

<div class="u-pull-right">
  <h4 >General Information & Toolkit</h4>
  <h4 >Advice & Aftercare </h4>
  <h4 >Registry (Durham County ONLY)</h4>
  <h4 >Development Donations</h4> 
</div>
  <div class="u-cf"></div>
</div>
 	   
 	   <div class ="half column">
      <div>
  <img class = "u-pull-left" src="static/img/smartclean.jpg" height="250" width="250">

<div class ="u-cf"></div>

</div>
      </div>
 



   </div>
   
   <div class ="half column">
     <div class="u-pull-left">
<h2 class ="u-pull-left">Washing Hands 101</h2>
<div class="u-cf"></div>
<p class="u-pull-right">Hand washing is the single most important method of reducing infection. 
<br><br> Hands must be washed prior to touching the affected area, therefore reducing the risk of infection.
<br><br> Wash your hands in warm water and liquid soap, always dry your hands thoroughly with a clean towel or paper towel.<br><br> This should remove most germs and prevent them being transferred to the affected area.</p>
<div class ="u-cf"></div>
   </div>


     
</div>
</div>


<br>
<br>


  
<!-- GRIDS -->
<div class ="container">
 <div class ="row">
   <div class ="four columns">
     0. Wet hands with water 
   </div>
   <div class ="four columns">
     1. Apply enough soap to cover all hand surfaces 
   </div>
     <div class ="four columns">
     2. Rub hands palm to palm  
   </div>
 </div>

<br>

    <div class ="row">
   <div class ="four columns">
     3. Right palm over left dorsum with interlaced fingers and vice versa 
   </div>
   
   <div class ="four columns">
     4. Palm to palm with fingers interlaced
   </div>
     <div class ="four columns">
     5. Backs of finger to opposing palms with fingers interlocked 
   </div>
 </div>
 
 <br>
 <div class ="row">
   <div class ="four columns">
     6. Rotational rubbing of left thumb clasped in right palm and vice versa 
   </div>
   <div class ="four columns">
     7. Rotational rubbing, backwards and forward with clasped fingers of right hand in left palm and vice versa 
   </div>
     <div class ="four columns">
     8. Rinse hands with water 
   </div>
 </div>
 <br>
 <div class ="row">
   <div class ="four columns">
     9. Dry hands thoroughly with single use towel 
   </div>
   <div class ="four columns">
     10. Use towel to turn off faucet 
   </div>
     <div class ="four columns">
     11. Your hands are now safe!  
   </div>

 </div>
</div>

<br>
<br>

  
  
<div class="container">
<!-- FULL WIDTH (not just for buttons) -->
<button class="u-full-width button primary"> Win a year of free body piercings for you and 3 of your friends!</button>
</div>
<!-- FLOATING -->
<!-- <h2 class= "u-pull-left">Left</h2>
<h2 class= "u-pull-right">Right</h2>
<div class= "u-cf"></div> <!-- This line clears all floating for below --> 

<!-- FORMS -->
<div class="container">
<form >
  
  <div >
    <label>Your Name</label>
    <input class="u-full-width" type ="text" placeholder="Enter name">
  </div>
  <div>
    <label class="">
      
    </label>
  </div>
      <label>Your Email</label>
    <input class="u-full-width" type ="text" placeholder="Enter Email Address">
  <div>
    <label>Your Consentual Age</label>
    <select class="u-full-width" >
      <option value="3">I am under 16</option>
      <option value="2">I am aged 16-18+</option>
      <option value="3">I am aged 18+</option>
    </select>
  </div>
  <div>
    <label>Your Area</label>
    <select class="u-full-width" >
      <option value="3">Anfield Plains</option>
      <option value="2">Bishop Auckland</option>
      <option value="3">Consett</option>
    </select>
  </div>
  
  <div>
    <label>Message</label>
    <textarea class="u-full-width" placeholder="Enter message"></textarea>
  </div>
  
  <div>
    <label class="">
        <input type="checkbox" name="">
        <span class="labe-body" >Subscribe to email</span>
    </label>
  </div>
  
  <input class="u-pull-right" type="submit" value="Submit">
</form> 
</div>

<!-- TABLES -->
<div class ="container">
<table>
  <thead>
    <tr>
      <th>Premise Trading Name</th>
      <th>Registered Practice(s)</th>
      <th>Project Behave Ref No:</th>
      
      <th>Date Registered</th>
      <th>Location</th>
      <th>Premise Address</th>
    </tr>

  </thead>

  <tbody>
   


   <tr>
      <td>Superdrug</td>
      <td>Cosmetic Piercing Only</td>
      <td>67432</td>
      <td>31/05/2018</td>
      <td>Bishop Auckland</td>
      <td>Unit 5 Bishop Auckland Shopping Park, St Helen Auckland, Bishop Auckland, DL14 9FA</td>
    </tr>

<tr>
      <td>Black Moon</td>
      <td>Cosmetic Piercing Only</td>
      <td>57780</td>
      <td>11/11/2019</td>
      <td>Consett</td>
      <td>73 Medomsley Road, Consett, DH8 5HJ</td>
    </tr>


    <tr>
      <td>Claire's Accessories</td>
      <td>Cosmetic Piercing Only</td>
      <td>19790</td>
      <td>29/02/2012</td>
      <td>Murton</td>
      <td>The North East Outlet Centre,
62 Dalton Park, Murton, Seaham, SR7 9HU</td>
    </tr>

    
<tr>
      <td>Superdrug</td>
      <td>Cosmetic Piercing Only</td>
      <td>67605</td>
      <td>31/05/2018</td>
      <td>Pity Me</td>
      <td>Unit G Arnison Retail Centre, Pity Me, Durham, DH1 5GB</td>
    </tr>

      
  </tbody>
</table>
</div>
<div class ="row">
  <!--LISTS -->
<div class="container">
	<div class="u-pull-left">
	<img src="static/img/behavelogo.jpg" height="250" width="250">
	<div class="u-cf"></div>
	</div>
<div class="u-pull-right" >
<ul>
  <li>Home</li>
  <li>About</li>
  <li>Partners</li>
  <!--<li>Private Services</li>
    <ul>
      <li>Governance & Aftercare</li>
      <li>Law & Compliance</li>
      <li>Training & Development</li>
    </ul> -->
    <li>Contact Us</li>
</ul>
<div class="u-cf"></div>
</div> 
 </div>

	

</div>
</div>
</div>
{% endblock %}