{% extends "layout.html" %}

{% block content %}
  <div class="container">
  	<div class="row">
<!-- PRIMARY BUTTONS -->

<a href= "{{ url_for('signup')}}" class= " button button-primary">Sign Up</a>

  <!-- BUTTONS -->
<a href= "{{ url_for('about')}}" class= "button">Learn More</a>

</div>
</div>

<div class ="container">
 <div class ="row u-pull-right">


  <a href= "{{ url_for('generalinfo')}}" class= " button ">General Info</a>
  <a href= "" class= "button">Advice & Aftercare</a>
  <a href= "{{ url_for('registry')}}" class= " button ">Registry</a> 
  <a href= "" class= "button button-primary">Donate</a>
</div>

  <div class="u-cf"></div>




   
   <div class ="row">
   	<br>
    
		<h2 class ="u-pull-left">Washing Hands 101</h2>
  <a href = "https://bit.ly/lltkuk"><img class = "u-pull-left" src="static/img/smartclean.jpg" height="250" width="250"></a>
 
		<div class="u-cf"></div>
		<div class="u-pull-right">
		<p class="u-pull-right">Hand washing is the single most important method of reducing infection.</p> 
		<br><br> <p class="u-pull-right"> Hands must be washed prior to touching the affected area, therefore reducing the risk of infection.</p>
		<br><br> <p class="u-pull-right">Wash your hands in warm water and liquid soap, always dry your hands thoroughly with a clean towel or paper towel.</p><br><br> <p class="u-pull-right">This should remove most germs and prevent them being transferred to the affected area.</p>
		</div>
		<div class ="u-cf"></div>
   	


   </div>

</div>
<br>
  
<!-- GRIDS -->
<div class ="container">
 <div class ="row">
   <div class ="four columns">
     Step 0. Wet hands with water 
   </div>
   <div class ="four columns">
     Step 1. Apply enough soap to cover all hand surfaces 
   </div>
     <div class ="four columns">
     Step 2. Rub hands palm to palm  
   </div>
 </div>

<br>

    <div class ="row">
   <div class ="four columns">
     Step 3. Right palm over left dorsum with interlaced fingers and vice versa 
   </div>
   
   <div class ="four columns">
     Step 4. Palm to palm with fingers interlaced
   </div>
     <div class ="four columns">
     Step 5. Backs of finger to opposing palms with fingers interlocked 
   </div>
 </div>
 
 <br>
 <div class ="row">
   <div class ="four columns">
     Step 6. Rotational rubbing of left thumb clasped in right palm and vice versa 
   </div>
   <div class ="four columns">
     Step 7. Rotational rubbing, backwards and forward with clasped fingers of right hand in left palm and vice versa 
   </div>
     <div class ="four columns">
     Step 8. Rinse hands with water 
   </div>
 </div>
 <br>
 <div class ="row">
   <div class ="four columns">
     Step 9. Dry hands thoroughly with single use towel 
   </div>
   <div class ="four columns">
     Step 10. Use towel to turn off faucet 
   </div>
     <div class ="four columns">
     Step 11. Your hands are now safe!  
   </div>

 </div>
</div>

<br>
<br>
</div>
{% endblock %}