{% extends 'layout.html' %}


{% block content %}

<div class="container">


	<div class="row">
	<a href= "{{url_for('legal')}}" class= " button ">Legal</a>
	<a href= "{{url_for('jewellery')}}" class= "button">Body Piercing Jewellery </a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	
	<div class="row">
<h3>General</h3>
<p>The style of body piercing jewellery is distinct from traditional jewellery worn in the ear lobe such as studs and butterfly designs.
Variations on the barbell and (captive) ring design are those most commonly seen in body piercing because these substantial shapes minimise the risk of embedding, tearing and migration.
<br>
<br>
High quality jewellery is made with smooth surfaces and joins in order to reduce the risk of irritation or of harbouring infection.
Practitioners should ensure that all jewellery used for skin piercings is sterile prior to its use. Where jewellery is not purchased pre-sterilized but is sterilized within the premises, the method by which sterilization has been carried out will determine how sterile the jewellery remains (see sterilization section). If jewellery is processed and stored properly, it may retain its sterility indefinitely. However, practitioners should be advised to discuss issues such as shelf life with equipment (and packaging) manufacturers.
<br>
<br>
A number of materials are used in skin piercing jewellery and acceptable materials include:
• Titanium.
• Niobium.
• Platinum.
• Gold – preferably solid gold 14 carat or 18 carat (for ear piercing). The use of gold higher than 18 carat is not recommended in body piercing as it is too soft and the potential exists for scratching or pitting of the metal which may increase the risk of infection at the piercing site. <br>
The use of gold lower than 14 carat is not recommended in body piercing as it tends to be lower in quality and has the potential to contain metallic impurities, which may lead to allergic response in the pierced individual.
</p>
	</div>
</div>


{% endblock %}