{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
	<a href= "{{url_for('advice')}}" class= "button">Ear & Face Piercings</a>
	<a href= "{{url_for('oral')}}" class= "button button-primary ">Oral Piercings</a>
	<a href= "" class= "button">Body & Surface Piercings</a>
	<a href= "" class= "button">Genital Piercings</a>
	<a href= "" class= " button ">Microdermal Implants</a>
	<a href= "" class= "button">Tattoos</a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>

	<div class="row">


	<h4>Key Advice</h4>
<p> The aftercare of body piercing is important to promote good healing and prevent the risk of infection.
Healing times for piercing will vary with the type and position of the piercing and vary from person to person.
For the first few weeks it is normal for the area to be red, tender and swollen.
An approximate healing times for oral piercing are:
Tongue piercing – 2 to 4 weeks. Lip – 3 to 6 weeks
Cheek – 2 to 3 months
Remember these times are approximate and will depend on how healthy you are and whether you look after the piercing properly until healed.
As with all body art, infection is a risk. To reduce these risks take advice from your practitioner regarding aftercare.
The risk of infection can be greatly reduced by good general hygiene including:
• Hand washing before touching the piercing
• Keeping the piercing clean.

</p>


<p>For the internal healing of oral piercing including all piercing of the tongue , lip and cheek
Gargle after each meal with an alcohol-free mouthwash or a warm salt water solution (1/4 level teaspoon of preferably sea salt to an egg cup/shot glass of warm water).
For the external healing of oral piercing: including all piercings to the lip and cheek
Wet a clean cloth or gauze in the warm salt water solution and apply as a warm compress. This will soften any discharge and allow you to clean the entry and exit points of the piercing with a cotton bud or gauze dipped into the warm salt water solution. Once the discharge is removed or softened then jewellery can be gently moved so as to work a little warm water through the piercing. When cleaning always tighten the ball on any bars by screwing the ball to the right.
Do this twice each day, preferably after washing or bathing.
Dry the piercing using ONLY fresh disposable paper towel/kitchen roll. A communal hand/bath towel should never be used.
Do not use cotton wool to clean the piercing as the fibres in the cotton wool may get caught in the piercing.</p>


<p>
	Do not pick at any discharge and do not move, twist or turn the piercing whilst dry. If any secreted discharge has hardened then turning jewellery may cause the discharge to tear the piercing, allowing bacteria to enter the wound and prolonging the healing time.
Do not use sunbeds for the first two weeks, or if you decide to then cover the wound area with a breathable plaster during tanning.
Do not swim for the first 24 hours following a piercing.
Special aftercare for tongue piercing
For the first few days take care when eating and avoid spicy foods.
Cold products such as ice and ice cream can help reduce swelling.
Refrain from oral sex of any description until the piercing has fully healed.
Signs of infection
If appropriate aftercare is not followed infection may occur. The signs of infection are:
• Swelling and redness that increases around the wound.
• A severe burning and throbbing sensation round the site.
• Increased tenderness and increasingly painful to touch.
• An unusual discharge (yellow or green) with an offensive smell.
Speak to your practitioner or seek medical attention immediately if you suffer from any of the above or have any concerns regarding infection in your piercing or if there are any signs of an allergic reaction to any of the products used.


</p>

	</div>

</div>
{% endblock %}