{% extends 'layout.html' %}

{% block content %}

<div class="container">
	<div class="row">
		
		<table>
  <thead>
    <tr>
      <th>Premise Trading Name</th>
      <th>Registered Practice(s)</th>
      <th>Project Behave Ref No:</th>
      
      <th>Date Registered</th>
      <th>Location</th>
      <th>Premise Address</th>
    </tr>

  </thead>

  <tbody>
   


   <tr>
      <td>Insane Inc Tattoo Studio</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>77201</td>
      <td>03/01/2019</td>
      <td>Annfield Plain</td>
      <td></td>
    </tr>

<tr>
      <td>Fozinks</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17500</td>
      <td>08/07/2009</td>
      <td>Blackhall</td>
      <td></td>
    </tr>


    <tr>
      <td>Black Sheep Tattoo Company</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>33501</td>
      <td>20/04/2015</td>
      <td>Chester-le-Street</td>
      <td></td>
    </tr>

    
<tr>
      <td>Beauty As You Wish Inc Novakane Tattoos & Royal Addiction</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>44543</td>
      <td>20/06/2016</td>
      <td>Consett</td>
      <td></td>
    </tr>


    <tr>
      <td>Stinging Kiss Tattoo Studio</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17598</td>
      <td>16/04/2010</td>
      <td>Consett</td>
      <td></td>
    </tr>

<tr>
      <td>Ink Time Mr Wolf incl Piercings by Amanda</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>89228</td>
      <td>13/01/2019</td>
      <td>Crook</td>
      <td></td>
    </tr>


    <tr>
      <td>Distinked Tattoo Studio</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>25353</td>
      <td>23/09/2019</td>
      <td>Dipton</td>
      <td></td>
    </tr>

    
<tr>
      <td>Buzzin Guns</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17502</td>
      <td>23/04/2003</td>
      <td>Durham City</td>
      <td></td>
    </tr>

    <tr>
      <td>Gecko Images</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17292</td>
      <td>19/03/2002</td>
      <td>Easington Colliery</td>
      <td></td>
    </tr>

<tr>
      <td>Beyond The Mirror</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>60098</td>
      <td>17/10/2017</td>
      <td>Gilesgate</td>
      <td></td>
    </tr>


    <tr>
      <td>Eddies Tattoo Studio</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17307</td>
      <td>28/04/1986</td>
      <td>Horden</td>
      <td></td>
    </tr>

    
<tr>
      <td>No Regrets</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>31511</td>
      <td>04/02/2015</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>



    <tr>
      <td>K2 Tattoo Studio</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17392</td>
      <td>04/05/2010</td>
      <td>Peterlee</td>
      <td></td>
    </tr>

<tr>
      <td>Kustom Ink inc Defined by Shannon </td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>17278</td>
      <td>04/05/2010</td>
      <td>Peterlee</td>
      <td></td>
    </tr>


    <tr>
      <td>1 on 1 Tattoos</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>4290</td>
      <td>14/10/2004</td>
      <td>Seaham</td>
      <td></td>
    </tr>

    
<tr>
      <td>Pinch Body Art</td>
      <td>Tattooing & Cosmetic Piercing</td>
      <td>19953</td>
      <td>04/07/2010</td>
      <td>Spennymoor</td>
      <td></td>
    </tr>


    <tr>
      <td>Base Line Tattoos</td>
      <td>Tattooing Only </td>
      <td>68206</td>
      <td>08/04/2018</td>
      <td>Bishop Auckland</td>
      <td></td>
    </tr>

<tr>
      <td>Boys Don't Cry Tattoo Club</td>
      <td>Tattooing Only</td>
      <td>41838</td>
      <td>02/03/2016</td>
      <td>Bishop Auckland</td>
      <td></td>
    </tr>


    <tr>
      <td>Fat Panda Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>40370</td>
      <td>06/01/2016</td>
      <td>Bishop Auckland</td>
      <td></td>
    </tr>

    
<tr>
      <td>Inkheart Tattoo</td>
      <td>Tattooing Only</td>
      <td>57564</td>
      <td>04/05/2017</td>
      <td>Bishop Auckland</td>
      <td></td>
    </tr>



    <tr>
      <td>Rapid Ink</td>
      <td>Tattooing Only</td>
      <td>30406</td>
      <td>15/12/2014</td>
      <td>Bishop Auckland</td>
      <td></td>
    </tr>

<tr>
      <td>Roxy's Barber and Studio Ltd</td>
      <td>Tattooing Only</td>
      <td>58504</td>
      <td>01/06/2017</td>
      <td>Blackhall</td>
      <td></td>
    </tr>


    <tr>
      <td>Hometown Tattoos73 </td>
      <td>Tattooing Only</td>
      <td>44850</td>
      <td>09/06/2016</td>
      <td>Blackhall</td>
      <td></td>
    </tr>

    
<tr>
      <td>Arful Ink</td>
      <td>Tattooing Only</td>
      <td>31511</td>
      <td>16/08/1996</td>
      <td>Bowburn</td>
      <td></td>
    </tr>


    <tr>
      <td>3 Layers Deep Mobile</td>
      <td>Tattooing Only</td>
      <td>17309</td>
      <td>26/05/2009</td>
      <td>Brandon</td>
      <td></td>
    </tr>

<tr>
      <td>Darkside Tattoos</td>
      <td>Tattooing Only</td>
      <td>27483</td>
      <td>09/06/2014</td>
      <td>Chester-le-Street</td>
      <td></td>
    </tr>


    <tr>
      <td>Forever Ink</td>
      <td>Tattooing Only</td>
      <td>34995</td>
      <td>09/06/2019</td>
      <td>Chester-le-Street</td>
      <td></td>
    </tr>

    
<tr>
      <td>Urban Ink inc Caleb Black Body Art</td>
      <td>Tattooing Only</td>
      <td>34995</td>
      <td>09/06/2015</td>
      <td>Chester-le-Street</td>
      <td></td>
    </tr>
      

    <tr>
      <td>Lisa's Ink</td>
      <td>Tattooing Only</td>
      <td>26182</td>
      <td>11/12/2013</td>
      <td>Chilton</td>
      <td></td>
    </tr>

<tr>
      <td>Madame Blu Tattoo</td>
      <td>Tattooing Only</td>
      <td>26482</td>
      <td>10/02/2014</td>
      <td>Consett</td>
      <td></td>
    </tr>


    <tr>
      <td>House of Gentlemen</td>
      <td>Tattooing Only</td>
      <td>52696</td>
      <td>28/02/2017</td>
      <td>Durham City</td>
      <td></td>
    </tr>

    
<tr>
      <td>Goblins Nostril Tattoos</td>
      <td>Tattooing Only</td>
      <td>51072</td>
      <td>09/01/2017</td>
      <td>Easington Colliery</td>
      <td></td>
    </tr>


    <tr>
      <td>Keera Harriman Tattoo</td>
      <td>Tattooing Only</td>
      <td>64672</td>
      <td>19/12/2017</td>
      <td>Easington Village</td>
      <td></td>
    </tr>

<tr>
      <td>Monty Blues Barber Shop</td>
      <td>Tattooing Only</td>
      <td>64672</td>
      <td>27/04/2018</td>
      <td>Easington Village</td>
      <td></td>
    </tr>


    <tr>
      <td>AppleBlossom Studio</td>
      <td>Tattooing Only</td>
      <td>48866</td>
      <td>21/03/2018</td>
      <td>Eldon Lane</td>
      <td></td>
    </tr>

    
<tr>
      <td>Skin Pigment Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>74154</td>
      <td>23/08/2018</td>
      <td>Esh Winning</td>
      <td></td>
    </tr>


    <tr>
      <td>Anarchy Art Tattoo Studios</td>
      <td>Tattooing Only</td>
      <td>17292</td>
      <td>08/01/2014</td>
      <td>Ferryhill</td>
      <td></td>
    </tr>

<tr>
      <td>Ten Sixty Six Bloodline</td>
      <td>Tattooing Only</td>
      <td>51780</td>
      <td>31/01/2017</td>
      <td>Ferryhill</td>
      <td></td>
    </tr>


    <tr>
      <td>Internal Ink</td>
      <td>Tattooing Only</td>
      <td>19153</td>
      <td>26/01/2012</td>
      <td>Framwellgate</td>
      <td></td>
    </tr>

    
<tr>
      <td>Eagle Ink Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>17493</td>
      <td>11/05/2010</td>
      <td>Gilesgate</td>
      <td></td>
    </tr>


    <tr>
      <td>Slingin' Ink</td>
      <td>Tattooing Only</td>
      <td>17314</td>
      <td>05/02/2007</td>
      <td>Gilesgate</td>
      <td></td>
    </tr>

<tr>
      <td>Youngies Tattoos</td>
      <td>Tattooing Only</td>
      <td>60098</td>
      <td>27/08/2019</td>
      <td>Great Lumley</td>
      <td></td>
    </tr>


    <tr>
      <td>Brothers Ink</td>
      <td>Tattooing Only</td>
      <td>19154</td>
      <td>24/01/2012</td>
      <td>Horden</td>
      <td></td>
    </tr>

    
<tr>
      <td>The Front Street Tattoo Co</td>
      <td>Tattooing Only</td>
      <td>88162</td>
      <td>13/12/2019</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>


    <tr>
      <td>Indigo Rose</td>
      <td>Tattooing Only</td>
      <td>17201</td>
      <td>10/12/2009</td>
      <td>Langley Moor</td>
      <td></td>
    </tr>

<tr>
      <td>Body Art Tattoo Surgery</td>
      <td>Tattooing Only</td>
      <td>10559</td>
      <td>17/10/2003</td>
      <td>Langley Park</td>
      <td></td>
    </tr>


    <tr>
      <td>Bloody Ink</td>
      <td>Tattooing Only</td>
      <td>17202</td>
      <td>04/12/2009</td>
      <td>Meadowfield</td>
      <td></td>
    </tr>

    
<tr>
      <td>Glink Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>21640</td>
      <td>06/09/2012</td>
      <td>Meadowfield</td>
      <td></td>
    </tr>


    <tr>
      <td>Timeless Tattoos</td>
      <td>Tattooing Only</td>
      <td>30430</td>
      <td>19/12/2014</td>
      <td>Murton</td>
      <td></td>
    </tr>

<tr>
      <td>Twisted Tatoos</td>
      <td>Tattooing Only</td>
      <td>82077</td>
      <td>25/04/2019</td>
      <td>Murton</td>
      <td></td>
    </tr>


    <tr>
      <td>Butchers Ink</td>
      <td>Tattooing Only</td>
      <td>29542</td>
      <td>22/10/2014</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>

    
<tr>
      <td>Daniel Cunningham Tattoo</td>
      <td>Tattooing Only</td>
      <td>89451</td>
      <td>24/01/2020</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>


    <tr>
      <td>Gentlemen Jims Tattoo Club</td>
      <td>Tattooing Only</td>
      <td>37399</td>
      <td>07/10/2015</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>

<tr>
      <td>Pushing Ink Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>30774</td>
      <td>15/01/2015</td>
      <td>Newton Aycliffe</td>
      <td></td>
    </tr>


    <tr>
      <td>NE Ink Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>17614</td>
      <td>25/10/2011</td>
      <td>Pelton</td>
      <td></td>
    </tr>

    
<tr>
      <td>Dragon Tattoos</td>
      <td>Tattooing Only</td>
      <td>35623</td>
      <td>02/07/2015</td>
      <td>Peterlee</td>
      <td></td>
    </tr>


    <tr>
      <td>LL Cooltats</td>
      <td>Tattooing Only</td>
      <td>23243</td>
      <td>22/03/2013</td>
      <td>Peterlee</td>
      <td></td>
    </tr>

<tr>
      <td>Northern Intergrative health Practice</td>
      <td>Tattooing Only</td>
      <td>19964</td>
      <td>08/03/2011</td>
      <td>Sacriston</td>
      <td></td>
    </tr>


    <tr>
      <td>Addicted to Ink</td>
      <td>Tattooing Only</td>
      <td>21870</td>
      <td>02/10/2012</td>
      <td>Seaham</td>
      <td></td>
    </tr>

    
<tr>
      <td>Thandertons</td>
      <td>Tattooing Only</td>
      <td>17291</td>
      <td>05/03/2009</td>
      <td>Seaham</td>
      <td></td>
    </tr>


    <tr>
      <td>Inkantations</td>
      <td>Tattooing Only</td>
      <td>Shildon</td>
      <td>01/10/2003</td>
      <td>Shildon</td>
      <td></td>
    </tr>

<tr>
      <td>Wild Stallions</td>
      <td>Tattooing Only</td>
      <td>61038</td>
      <td>02/10/2017</td>
      <td>Shildon</td>
      <td></td>
    </tr>


    <tr>
      <td>Liquid Ink Mobile Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>18804</td>
      <td>22/11/2011</td>
      <td>Shotton Colliery</td>
      <td></td>
    </tr>

    
<tr>
      <td>SpennyInk</td>
      <td>Tattooing Only</td>
      <td>17282</td>
      <td>28/06/2011</td>
      <td>Spennymoor</td>
      <td></td>
    </tr>


    <tr>
      <td>Tattu Madness</td>
      <td>Tattooing Only</td>
      <td>49043</td>
      <td>21/10/2016</td>
      <td>Spennymoor</td>
      <td></td>
    </tr>

<tr>
      <td>Four Wing Crow Tattoo Studio</td>
      <td>Tattooing Only</td>
      <td>83959</td>
      <td>21/11/2019</td>
      <td>Stanley</td>
      <td></td>
    </tr>


    <tr>
      <td>Arc Angel Ink</td>
      <td>Tattooing Only</td>
      <td>74638</td>
      <td>07/09/2018</td>
      <td>Tanfield Lea</td>
      <td></td>
    </tr>

    
<tr>
      <td>Rosies Ink Pot</td>
      <td>Tattooing Only</td>
      <td>52685</td>
      <td>23/03/2017</td>
      <td>Thornley</td>
      <td></td>
    </tr>


    <tr>
      <td>Colours</td>
      <td>Tattooing Only</td>
      <td>29130</td>
      <td>24/09/2014</td>
      <td>Trimdon Colliery</td>
      <td></td>
    </tr>

<tr>
      <td>Tenthirteen Studios</td>
      <td>Tattooing Only</td>
      <td>17491</td>
      <td>18/02/2011</td>
      <td>West Auckland</td>
      <td></td>
    </tr>


  </tbody>
</table>

	</div>


</div>

{% endblock %}