{% extends 'layout.html' %}


{% block content %}

<div class="container">
	<div class="row">
	<a href= "{{url_for('advice')}}" class= "button">Ear & Face Piercings</a>
	<a href= "{{url_for('oral')}}" class= "button button-primary ">Oral Piercings</a>
	<a href= "{{url_for('body')}}" class= "button">Body & Surface Piercings</a>
	<a href= "{{url_for('genital')}}" class= "button">Genital Piercings</a>
	<a href= "{{url_for('dermal')}}" class= " button ">Microdermal Implants</a>
	<a href= "{{url_for('tattoo')}}" class= "button button-primary">Tattoos</a>
 	<!--<a href= "{{ url_for('registry')}}" class= " button ">Decontamination </a>
	<a href= "" class= "button">Tattoo Ink Product Quality</a> 

	</div>
	<div class="row">
	<a href= "" class= "button">Governance</a>
	<a href= "" class= "button">Infectious Disease Incidenct Managment</a> --> 
	</div>

	<div class="row">
Key Advice

The aftercare following a tattoo is important to promote good healing and prevent the risk of infection.
For the first week or so it is normal for the area to be red and tender.
As with all body art, infection is a risk. To reduce these risks take advice from your practitioner regarding aftercare.
The risk of infection can be greatly reduced by good general hygiene including:
• Hand washing before touching the tattoo
• Keeping the tattooed
area covered with non-stick gauze which is secured with hypo-allergenic tape

Tattoo aftercare
Good practice is to cover the tattooed area with non-stick gauze which is then secured with hypo-allergenic tape. Gauze permits ventilation and aids healing.
A tattoo covering a large area may need to be covered with a sterile, non- adhesive dressing, at least during your journey home. However, simply keeping the area clean and dry is likely to be the best approach.
A tattoo covering a large area may have plastic film wrap applied, this must be clean (taken straight from the pack and used immediately) and you should be advised when to replace this covering by your practitioner.
Any cream that you apply must be used from an appropriate pot/tube at home and you should wash your hands before application. Cream can be purchased from your practitioner or a pharmacist.
Antibiotic creams should not be used except if infection has occurred and under supervision of your Doctor.

Signs of infection
If appropriate aftercare is not followed infection may occur. The signs of infection are:
• Swelling and redness that increases around the wound.
• A severe burning and throbbing sensation round the site.
• Increased tenderness and increasingly painful to touch.
• An unusual discharge (yellow or green) with an offensive smell.
Speak to your practitioner or seek medical attention immediately if you suffer from any of the above or have any concerns regarding infection in your tattoo or if there are any signs of an allergic reaction to any of the products used.

<br>





	</div>

</div>
{% endblock %}